@charset "UTF-8";

@media screen and (min-width: 690px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    main > section#login{
        width: 80vw;
        height: 290px;
    }

    main > section#login > div#imagem{
        /* A propriedade [float: left; ou float: right; ] serve para alinhar elementos à esquerda ou à direita de um container, como por exemplo, um formulário junto à uma imagem para deixar o design ddo formulário atrativo ao usuário. */
        float: left;
        width: 30%;
        height: 500px;
    }

    main > section#login > div#formulario{
        float: right;
        width: 70%;
    }

    main > section#login > div#formulario > p{
        margin: 10px 0px;
        font-size: .85em;
        text-align: justify;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    main > section#login{
        width: 90vw;
        height: 350px;
    }

    main > section#login > div#imagem{
        float: right;
        width: 50%;
        height: 500px;
    }

    main > section#login > div#formulario{
        width: 50%;
    }

    main > section#login > div#formulario > h1{
        font-size: 2em;
    }

    main > section#login > div#formulario > p{
        margin: 8px 0px 20px 0px;
        font-size: 1.1em;
    }
}