/* 
! -> Estilo relativo à tela
! -> Media Query
*/

@charset "UTF-8";

/* ? Estilo para tablets */
@media screen and (min-width: 690px) {

    /* ? Estilizando o plano de fundo */
    body{
        background: linear-gradient(to top, rgb(91, 207, 188), rgb(170, 0, 204)) fixed;
    }

    /* ? Configuração do layout */
    main > section.login{
        display: flex;
        flex-flow: row nowrap;

        width: 80vw;
        height: 300px;
    }

    /* ? Estilizando a largura e o tamanho da imagem */
    main > section.login > div.image{
        height: 100%;
        width: 30%;
    }

    /* ? Estilizando o parágrafo */
    main > section.login > div.form > p{
        font-size: .9em;
    }

    /* ? Estilizando a caixa de entrada de dados */
    main > section.login > div.form > form > input[type=submit]{
        height: 42px;
        margin: 4px 0px;
    }

    /* ? Estilizando o botão[link] */
    main > section.login > div.form > form > a{
        height: 40px;
        padding-bottom: 4px;
    }
}



/* ? EStilo para desktop+ */
@media screen and (min-width: 992px) {

    body{
        background: linear-gradient(to top, rgb(91, 207, 188), rgb(170, 0, 204)) fixed;
    }

    /* ? Configuração do layout */
    main > section.login{
        display: flex;
        flex-flow: row-reverse nowrap;
        
        width: 85vw;
        max-width: 992px;
        height: 350px;
    }

    /* ? Estilizando a imagem */
    main > section.login > div.image{
        width: 50%;
        height: 100%;

        background-position: center center;
    }

    /* ? Estilizando a largura do conteúdo interativo */
    main > section.login > div.form{
        width: 50%;
    }

    /* ? Estilizando o título */
    main > section.login > div.form > h1{
        font-size: 1.9em;
    }

    /* ? Estilizando o parágrafo */
    main > section.login > div.form > p{
        font-size: 0.97em;
    }

    /* ? Estilizando a largura e o tamanho da caixa de entrada de dados */
    main > section.login > div.form > form > input[type=submit]{
        height: 42px;
        margin: 4px 0px;
    }

    /* ? Estilizando o botão[link] */
    main > section.login > div.form > form > a{
        height: 40px;
    }
}